# Based on https://gist.github.com/w25r/9922072
#Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Logs
logs/

# Sensitive Files
src/main/webapp/META-INF/
src/main/java/resources/hibernate.cfg.xml
src/test/java/resources/hibernate.cfg.xml
src/test/java/resources/database.properties

# Other
target/