<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Minecraft JSON Generator</display-name>
    <!-- Form-based Authentication Config -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginFailure.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!-- Authorize users via login action servlet when login button is pressed -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>login</web-resource-name>
            <url-pattern>/login</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Authorize users via logout action servlet when logout button is pressed -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>logout</web-resource-name>
            <url-pattern>/logout</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Authorize users via view commands servlet when my commands button is pressed -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>commands</web-resource-name>
            <url-pattern>/commands</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Authorize users via remove command servlet when attempting to remove a user's command -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>removeCommand</web-resource-name>
            <url-pattern>/delete</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>
</web-app>